html {
  padding-top: 30px;
}

#search-box {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
  width: 50%;
  border-radius: 50px;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}
